spring.application.name=crypto-price-alert

# Dados de conexão com o banco (valores default do docker-compose.yml / .env.example)
spring.datasource.url=jdbc:postgresql://localhost:5432/crypto_price_alert
spring.datasource.username=crypto
spring.datasource.password=crypto
spring.datasource.driver-class-name=org.postgresql.Driver

# Configurações do Hibernate
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect


spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=SEU EMAIL DE ENVIO
spring.mail.password=SUA SENHA

spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true